<div class="row mb-2">
  <div class="col-10">
    <div class="title-page">Consultar solicitudes</div>
  </div>
</div>
<div class="row mt-auto">
  <div class="col-12">
    <p-table
      #dt
      [value]="requestList"
      [scrollable]="true"
      scrollHeight="600px"
      [virtualScroll]="true"
      [virtualScrollItemSize]="80"
      selectionMode="single"
      [(selection)]="selectedRequests"
      dataKey="id"
      stateStorage="session"
      stateKey="statedemo-session"
      [exportHeader]="'customExportHeader'"
      [paginator]="true"
      [rows]="20"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="{first} de {totalRecords}"
      [rowsPerPageOptions]="[5, 10, 20]">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="filing_number" style="width: 3%">
            Número de radicado<p-sortIcon field="filing_number"></p-sortIcon>
          </th>
          <th pSortableColumn="filing_date" style="width: 12%">
            Fecha de radicación<p-sortIcon field="filing_date"></p-sortIcon>
          </th>
          <th pSortableColumn="applicant_type_name" style="width: 10%">
            Tipo de solicitante<p-sortIcon field="applicant_type_name"></p-sortIcon>
          </th>
          <th pSortableColumn="doc_id" style="width: 10%">
            Número de documento<p-sortIcon field="doc_id"></p-sortIcon>
          </th>
          <th pSortableColumn="applicant_name" style="width: 10%">
            Nombre empresa/Solicitante<p-sortIcon field="applicant_name"></p-sortIcon>
          </th>
          <th pSortableColumn="request_type_name" style="width: 10%">
            Tipo de solicitud<p-sortIcon field="request_type_name"></p-sortIcon>
          </th>
          <th pSortableColumn="status_name" style="width: 10%">
            Estado solicitud<p-sortIcon field="status_name"></p-sortIcon>
          </th>
          <th pSortableColumn="request_days" style="width: 10%">
            Días solicitud<p-sortIcon field="request_days"></p-sortIcon>
          </th>
          <th pSortableColumn="assigned_user" style="width: 10%">
            Responsable solicitud<p-sortIcon field="assigned_user"></p-sortIcon>
          </th>
          <th style="width: 5%"></th>
          <th style="width: 10%"></th>
        </tr>
        <tr>
          <th>
            <p-columnFilter
              style="width: 100px"
              type="text"
              field="filing_number"
              label="Número de Radicado"
              filterPlaceholder="Numero de Radicado"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter style="width: 100px" type="text" field="filing_date"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              style="width: 100px"
              field="applicant_type_name"
              matchMode="in"
              [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  [filter]="false"
                  [options]="aplicantList"
                  optionLabel="applicant_type_name">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter style="width: 100px" type="text" field="doc_id"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              style="width: 100px"
              type="text"
              field="applicant_name"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              style="width: 100px"
              field="request_type_name"
              matchMode="in"
              [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  [filter]="false"
                  [options]="requestTypeList"
                  optionLabel="request_type_name">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              style="width: 100px"
              field="status_name"
              matchMode="in"
              [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  [filter]="false"
                  [options]="statusOptions"
                  [(ngModel)]="selectedStatusOptions">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              style="width: 100px"
              field="request_days"
              matchMode="in"
              [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  [filter]="false"
                  [options]="daysOption"
                  [(ngModel)]="selectedDaysOptions">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              style="width: 100px"
              field="assigned_user"
              matchMode="in"
              [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect
                  [filter]="false"
                  [style]="{ heigth: '30px' }"
                  [options]="userList"
                  optionLabel="user_name">
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <!--<ng-template pTemplate="body" let-requestList let-columns="columns">
        <tr [pSelectableRow]="requestList">
          <td *ngFor="let col of columns">
            {{ requestList[col.field] }}
          </td>
      <ng-template pTemplate="body" let-requestList let-columns="columns">
        <tr [pSelectableRow]="requestList">
          <td>
            <p-button icon="pi pi-eye" [styleClass]="'btn-icon-info'"></p-button>
          </td>
          <td>
            <p-button
              [label]="requestList.assigned_user === null ? 'Asignar' : 'Reasignar'"
              (click)="assignRequest(requestList)"></p-button>
          </td>
        </tr>
      </ng-template>-->
      <ng-template pTemplate="body" let-requestList>
        <tr>
          <td>{{ requestList.filing_number }}</td>
          <td>{{ requestList.filing_date }}</td>
          <td>{{ requestList.applicant_type_name }}</td>
          <td>{{ requestList.doc_id }}</td>
          <td>{{ requestList.applicant_name }}</td>
          <td>{{ requestList.request_type_name }}</td>
          <td>{{ requestList.status_name }}</td>
          <td>
            <span
              class="circle"
              style="--circle-color: var(--color-{{ requestList.request_days }});"></span>
            {{ requestList.request_days }} día(s) hábiles
          </td>
          <td>{{ requestList.assigned_user }}</td>
          <td>
            <p-button
              icon="pi pi-eye"
              [styleClass]="'btn-icon-info'"
              (click)="redirectDetails(requestList.request_id)"></p-button>
          </td>
          <td>
            <button class="custom-button" (click)="assignRequest(requestList)">
              {{
                requestList.assigned_user === null || requestList.assigned_user === ''
                  ? 'Asignar'
                  : 'Reasignar'
              }}
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-toast></p-toast>
<app-modal-dinamic
  *ngIf="visibleDialog"
  [select]="true"
  [visible]="visibleDialog"
  [message]="message"
  (setRta)="closeDialog($event)"></app-modal-dinamic>

<app-modal-assign-selector
  *ngIf="visibleDialogInput"
  [visible]="visibleDialogInput"
  [message]="message"
  [buttonmsg]="buttonmsg"
  [parameter]="parameter"
  (setRta)="closeDialogInput($event)"
  (setRtaParameter)="setParameter($event)"></app-modal-assign-selector>

<app-modal-alert
  *ngIf="visibleDialogAlert"
  [select]="true"
  [visible]="visibleDialogAlert"
  [message]="message"
  [message2]="message2"
  [informative]="informative"
  [severity]="severity"
  (setRta)="closeDialogAlert($event)"></app-modal-alert>
